.innerEditBookmarkDiv {
	background-color: #037584;
	display: flex;
	justify-content: center;
	flex-direction: column;
	border-radius: 12px;
	color: #fff;
}

.innerEditBookmarkDiv input {
	border-radius: 12px;
	padding: 10px;
	outline: none;
	font-size: 15px;
	margin: 20px;
}

.edit-bookmark-button {
	padding: 10px;
	border-radius: 5px;
	font-size: 17px;
	background-color: #FFCE00;
	text-transform: capitalize;
	margin: 10px;
	outline: none;
}

.edit-bookmark-button:active {
      transform: translate(5px, 5px);
    }