.login {
    padding: 4em;
    display: inline-flex;
    font-size: 20px;
    margin: auto;
    width: 100%;
    justify-content: center;
}

.name_input {
    font-size: inherit;
    color: white;
    border: 0.2em solid #FFCE00;
    border-radius: 0.5em 0 0 0.5em;
    padding: 0.2em 0.5em;
    background-color: rgba(235, 196, 55, 0.27);
}

.password_input {
    font-size: inherit;
    color: white;
    border: 0.2em solid #FFCE00;
    border-left: 0;
    padding: 0.2em 0.5em;
    background-color: rgba(235, 196, 55, 0.27);
}

.name_input:hover,
.name_input:focus {
    border-color: #0375B4;
}

.password_input:hover,
.password_input:focus {
    border-color: #0375B4;
}

.login_button {
    font-size: inherit;
    border: 0.2em solid #FFCE00;
    border-radius: 0 0.5em 0.5em 0;
    background-color: #FFCE00;
    border-left: 0;
    padding: 0 0.75em;
    color: #0375B4;
}

.login_button:hover,
.login_button:focus {
    color: white;
    border-color: #0375B4;
    background-color: #0375B4;
}

