.board-card {
  background: rgba(235, 196, 55, 0.45);
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid lightgrey;
  border-color: #262228;
  border-radius: 5px;
  width: 360px;
  /*max-width: 480px;*/
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  cursor: pointer;
}

h2, p {
  color: #262228;
}

.editBoardButton {
  font-size: inherit;
  color: #262228;
  border: 0.2em solid #FFCE00;
  border-radius: 0.5em;
  padding: 0.2em 0.5em;
  background-color: rgba(235, 196, 55, 0.45);
  font-weight: bold;
}

.boardCardDiv {
  align-items: center;
  
}

.deleteBoardButton {
	display: none;
}


.name_input {
    font-size: inherit;
    color: white;
    border: 0.2em solid #FFCE00;
    border-radius: 0.5em 0 0 0.5em;
    padding: 0.2em 0.5em;
    background-color: rgba(235, 196, 55, 0.27);
}

.password_input {
    font-size: inherit;
    color: white;
    border: 0.2em solid #FFCE00;
    border-left: 0;
    padding: 0.2em 0.5em;
    background-color: rgba(235, 196, 55, 0.27);
}

.name_input:hover,
.name_input:focus {
    border-color: #0375B4;
}