
.bookmarkDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #037584;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
}

.bookmarkDiv button {
  padding: 10px;
  border-radius: 5px;
  font-size: 17px;
  background-color: #FFCE00;
  text-transform: capitalize;
  margin: 10px;
  outline: none;
}

.bookmarkDiv button:active {
      transform: translate(5px, 5px);
    }

.bookmark-head-text h2 {
  padding: 35px;
  font-size: 30px;
  font-family: 'Comfortaa', sans-serif;
  text-align: center;
}

.bookmark-head-text p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 15px;
  text-align: center;
}